.hero {
    background: #F7F6FF;
  }
  
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 116px;
  }
  
  .hero__box {
    max-width: 595px;
    width: 100%;
  }
  
  .hero__heading {
    margin: 0 0 30px 0;
    color: #222;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
  }
  
  .hero__heading span {
    color: #1DBF73;
  }
  
  .hero__paragrph {
    margin: 0 0 50px 0;
    color: #222;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .hero__form-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 50px;
    background: #F2F0FE;
  }
  
  .hero__form-input {
    padding: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .hero__form-input::placeholder {
    color: #656084;
    font-size: 16px;
    font-weight: 500;
  }
  
  .hero__form-button {
    padding: 20px 50px;
    color: #F6FAFD;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    border: 3px solid #F2F0FE;
    background: #FBA457;
    cursor: pointer;
  }
  
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #222;
    font-size: 16px;
    font-weight: 500;
  }
  
  .hero__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 25px;
    list-style: none;
  }
  
  .hero__item-link {
    padding: 10px 20px;
    color: #222;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #F2F0FE;
  }
  
  .hero__item:last-child .hero__item-link {
    color: #FBA457;
    border: 1px solid #FBA457;
  }
  
  /* site hero style finish  */
  /* site workers style start  */
  .workers-wrapper {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  
  .workers__heading {
    margin-top: 0;
    margin-bottom: 48px;
    color: #222;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
  }
  
  .workers__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .workers__item {
    max-width: 420px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: #F6FAFD;
    box-shadow: 0px 16px 16px 0px rgba(34, 34, 34, 0.04);
  }
  
  .workers__item:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1DBF73;
    font-size: 18px;
    font-weight: 600;
    background: #F2F0FE;
    cursor: pointer;
  }
  
  .workers__item-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .workers__item-heading {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    color: #222;
    font-size: 18px;
    font-weight: 600;
  }
  
  .workers__item-paragrph {
    margin-top: 0;
    margin-bottom: 30px;
    color: #222;
    font-size: 14px;
    font-weight: 400;
  }
  
  .workers__item-link {
    display: block;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1DBF73;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #1DBF73;
    transition: all 0.5s ease;
  }
  
  .workers__item-link:hover {
    color: #F6FAFD;
    background-color: #1DBF73;
  }